.SearchBar{
    display: flex;
    justify-content: center;
    padding: 30px;
    box-shadow: 10px 10px 20px #000000;
}

input{
    padding: 20px;
    width: 500px;
}
button:hover{
   cursor: pointer;
}
